:root {
    --logo-text-color: #2196F3;
    --header-logo: #000000;
    --footer-logo: #FFFFFF;
    --main-bg-color: #FFFFFF;
    --slogan-bg-color: #2F303A;
    --team-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --action-color: #2196F3;
    --main-text-color: #212121;
    --text-color: #757575;
    --bright-text: #FFFFFF;
    --footer-contacts: rgba(255, 255, 255, 0.6);
    --portfolio-button-color: #F5F4FA;
}

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Verdana', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.list-none {
    list-style: none;
}

/* header */
.header-logo {
    color: var(--header-logo);
}
.logo-text {
    color: var(--logo-text-color);
}

/* all links hover focus */
.nav .link:hover,
.nav .link:focus,
.header-contacts .link:hover,
.header-contacts .link:focus,
.footer-link:hover,
.footer-link:focus {
    color: var(--action-color);
}
.header-contacts .link {
    color: var(--text-color);
}

/* main page action button section */
.slogan {
    background-color: var(--slogan-bg-color);
    color: var(--bright-text);
}
.button {
    background-color: var(--action-color);
    color: var(--bright-text);
    cursor: pointer;
}

/* portfolio page filter */
.portfolio-button {
    background-color: var(--portfolio-button-color);
    cursor: pointer;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--action-color);
    color: var(--bright-text)
}

/* benefits section */
.benefits .text {
    color: var(--text-color);
}

/* expertise section */


/* both page card section */
.team {
    background-color: var(--team-bg-color);
}
.job-title,
.portfolio-result {
    color: var(--text-color);
}

/* footer section */
.footer {
    background-color: var(--footer-bg-color);
}
.footer-logo {
    color: var(--footer-logo);
}
.footer-address {
    color: var(--bright-text);
}
.footer-mail,
.footer-tel {
    color: var(--footer-contacts);
}